<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forum Page</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="/style.css">


</head>
<body>
	<div class="header">
        <div class="pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading" href="">The Heights And The Slope</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="/forums" class="pure-menu-link">Thread List</a></li>
                <li class="pure-menu-item"><a href="/forums/new" class="pure-menu-link">Create New Thread</a></li>
                
            </ul>
        </div>
    </div>
	<br><br>


		<h2><%= data.forum_title %></h2>
		<h5>Created by: <%= data.user_name %> </h5>
		<p><%= data.forum_content %></p>
<br><br>
			<form action="/comments" method="POST" class="pure-form pure-form-aligned">
				<fieldset>
					<div class="pure-control-group">
						<label for="user">User Name</label>
						<input type=" text" name="user" placeholder="User Name">
					</div>
					<div class="pure-control-group">
						<label for="password">Password</label>
						<input type="password" name="password" placeholder="Password">
					</div>
					<br>
					<div class="pure-control-group">
						<label for="comment">Comment</label>
						<textarea name="comment" placeholder="Comment"></textarea>
					</div>
					<input class="hidden" type="text" name="f_id" value="<%=data.forum_id%>">
					<br><br>
					<button type="submit" class="pure-button pure-button-primary">Submit</button>
				</fieldset>
			</form>  
	



<br><br><br>
<h3>Commments: <%= count.num %></h3>
	<%comments.forEach(function(comment){ %>
		<p><%=comment.comment_content%></p>
		<p> <%= comment.user_name %> </p>
		<br>

	<% }) %>

	<br><br>
	<a href="/forums">Back to forums list</a>
	<a name="bottom"></a>
</body>
</html>